<div class="container">
    <div class="col-sm-12">
        <h1>Available rooms</h1>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Members</th>
                <th>Join</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in rooms">
                <td>{{ index }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.members.join(", ") }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="join(room)">Join</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>